.icon{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    font-size: 25px;
    color:#121212;
  }
  .icon2{
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    float: right;
    font-size: 25px;
    color:#121212;
  }
  .text{
    font-size: 25px;
    color:#121212;

}
.main{
    margin-top: 100px;
    margin-bottom: auto;
}
.icon-main{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    font-size: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    color:#121212;

}
.center{
    text-align: center;
}
.title{
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  color: black;
}
#header{
  align-content: center;
  text-transform: uppercase;
  text-decoration: solid;
 
  font-weight:bold;
  font-style: normal;   
  color: #2ec0ce;
}
.discription{
  font-weight: bolder;
  margin-top: 10px;
  text-align: center;
  font-size: 22px;
}
.price{
  font-weight: bolder;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}

.footericon{
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 50%;
  font-size: 15px;
  color:#249178;

}
.footertext{
  text-align: center;
  font-size: 12px;
}
.footericon2{
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 50%;
  font-size: 30px;
  color:#121212;

}
.footertext2{
  text-align: end;
  font-size: 15px;
}
