<ion-header translucent>
  <ion-toolbar style="--background: #fafafa;">
    <img src="assets/shopping-online.jpg" width="60px" height="60px" style="margin: 10px;border-radius: 50%;margin:5px;" slot="start">
    <ion-title  id="header" >My Fridge</ion-title>
    <ion-list slot="end" style="border-radius: 50% !important;background-color:#fafafa !important;margin: 0px !important;">
    <ion-icon name="person-circle-outline" class="footericon"></ion-icon>
          <p class="footertext">{{this.name}}</p>
        </ion-list>               
  </ion-toolbar>
</ion-header>

<!-- New change test -->
<ion-content>
  <ion-grid class="main" id="home">
    <ion-row>
      <ion-col size="12" size-lg="4" size-md="4" offset-lg="4" offset-md="4">
        <ion-list>
          <ion-card (click)="checkitem()">
            <ion-item>
              <ion-label>
                <ion-icon name="barcode-outline" class="icon"></ion-icon>
              </ion-label>
              <ion-label class="text">Check Item </ion-label>
              <ion-label>
                <ion-icon name="caret-forward-outline" class="icon2"></ion-icon>
              </ion-label>
            </ion-item>
          </ion-card>
          <ion-card (click)="addrecipes()">
          <ion-item>
            <ion-label>
              <ion-icon name="barcode-outline" class="icon"></ion-icon>
            </ion-label>
            <ion-label class="text">Add Item </ion-label>
            <ion-label>
              <ion-icon name="caret-forward-outline" class="icon2"></ion-icon>
            </ion-label>
          </ion-item>
        </ion-card>
        <ion-card (click)="checkitem()">
          <ion-item>
            <ion-label>
              <ion-icon name="barcode-outline" class="icon"></ion-icon>
            </ion-label>
            <ion-label class="text">Manually Add </ion-label>
            <ion-label>
              <ion-icon name="caret-forward-outline" class="icon2"></ion-icon>
            </ion-label>
          </ion-item>
        </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  

  <ion-grid id="checkItem" style="display: none;">
    <ion-card>
      <ion-button color="danger" (click)="scanBRcode()" expand="block">
        Scan Barcode
      </ion-button>
    </ion-card>
  
    <ion-card>
      <div *ngIf="scannedBarCode">
        <ion-item>
          Scanned code output: <strong>{{ scannedBarCode["text"] }}</strong>
        </ion-item>
        <ion-item>
          Scanned code output: <strong>{{ scannedBarCode["format"] }}</strong>
        </ion-item>
      </div>
    </ion-card>
  
    <ion-card>
      <h3>Generate New QR Code</h3>
      <ion-input placeholder="Enter Input" [(ngModel)]="encodedData"></ion-input>
  
      <ion-button color="primary" (click)="generateBarCode()" expand="block">
        QR Code Create
      </ion-button>
    </ion-card>
  </ion-grid>





  <ion-grid id="AddProduct" style="display: none;">
    <ion-row>
      <ion-col size="12" size-lg="4" size-md="4" offset-lg="4" offset-md="4">
        <h3 class="center">Enter An Item Details</h3>
        <ion-item  lines="full" class="textdata">
          <ion-label>Image :</ion-label>
          <ion-input
            name="file"
            type="file"
            id="file"
            ngModel   
          ></ion-input> 
        </ion-item>

        <ion-item  lines="full" class="textdata">
          <ion-label>Name :</ion-label>
          <ion-input
            name="name"
            type="text"
            placeholder="Product Name"
            id="name"   
          ></ion-input> 
        </ion-item>

        <ion-item  lines="full" class="textdata">
          <ion-label>Amount :</ion-label>
          <ion-input
            name="amount"
            type="text"
            placeholder="Price"
            id="amount"

          ></ion-input> 
        </ion-item>

        <ion-item  lines="full" class="textdata">
          <ion-label>Catagory :</ion-label>
          <ion-select placeholder="Select One" id="catagory">
            <ion-select-option value="fruits">Fruits</ion-select-option>
            <ion-select-option value="vegetables">Vegetables</ion-select-option>
            <ion-select-option value="non-veg">Non Veg</ion-select-option>
            <ion-select-option value="drink">Drink</ion-select-option>
          </ion-select> 
        </ion-item>
        <ion-row>
          <ion-col><ion-button (click)="Insert()">Add Item</ion-button> </ion-col>
       <ion-col> <ion-button (click)="back()">Back</ion-button></ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer class="footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" offset="0" (click)="home()"  class="footerclick">
            <ion-icon name="home-outline" class="footericon" ></ion-icon>  
            <p class="footertext">Home</p>
        </ion-col>

        <ion-col size="2" offset="0" (click)="inventory()" class="footerclick">
          <ion-icon name="folder-outline" class="footericon"></ion-icon>
          <p class="footertext">Inventory</p>
        </ion-col>
        
        <ion-col size="2" offset="0" (click)="scan()" class="footerclick">
          <ion-icon name="scan-outline" class="footericon"></ion-icon>
          <p class="footertext">Scanning</p>
        </ion-col>

        <ion-col size="2" offset="0" (click)="shopping()" class="footerclick">
          <ion-icon name="cart-outline" class="footericon"></ion-icon>
          <p class="footertext">Shopping</p>
        </ion-col>

        <ion-col size="2" offset="0" (click)="recipe()" class="footerclick">
          <ion-icon name="fast-food-outline" class="footericon"></ion-icon>
          <p class="footertext">Recipe</p>                
        </ion-col>
        <ion-col size="2" offset="0" (click)="profile()" class="footerclick">
          <ion-icon name="person-circle-outline" class="footericon"></ion-icon>
          <p class="footertext">{{this.name}}</p>                
        </ion-col>

          
      </ion-row>
    </ion-grid>
    
  </ion-toolbar>
</ion-footer>