<ion-header translucent>
  <ion-toolbar style="--background: #fafafa;">
    <img src="assets/shopping-online.jpg" width="60px" height="60px" style="margin: 10px;border-radius: 50%;margin:5px;" slot="start">
    <ion-title  id="header" >Shopping Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >

  <ion-card class="main">
    <ion-card-content >
      
        <h1 id="header" style="color: #249178;text-align: center;" >Login</h1>
        <!-- <h4 id="header" style="color: #4C0782;">Not Have An Acount ? Click Here</h4> -->
        <form #login = "ngForm" (ngSubmit) = "onClickSubmit(login.value)">
          <ion-grid>
            <ion-row  class="ion-align-items-center">
              <ion-col class="ion-align-self-center">
                <div padding  class="input">
                  <ion-item  lines="full" class="textdata">
                    <ion-icon name="mail"></ion-icon>
                    <ion-input
                      name="email"
                      type="email"
                      placeholder="  your@email.com" 
                      ngModel   
                    ></ion-input>
                  </ion-item>
                  <span>{{this.email}}</span>
                  <ion-item lines="full" class="textdata">
                    <ion-icon name="key"></ion-icon>
                    <ion-input
                      name="password"
                      type="password"
                      placeholder="  password"
                      ngModel    
                    ></ion-input>
                  </ion-item>
                  <span>{{this.password}}</span>
                </div> 
                
                                     <ion-button style="--background:#249178;" expand="block" class="btn" type="submit">Login</ion-button>
                  
                 
                  <p style="color: #28282a;font-weight: bold;text-align: center;" >Click here <span style="color: #249178;font-weight: bold;text-align: center;">Forget Password</span></p>
                  
                  
                    <ion-button style="--background:#249178" expand="block" class="btn" type="submit" [routerLink]="['/signup']">SignUp</ion-button>
                 
                  
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end"  slot="" style="--background:#fff;" >
    <ion-fab-button  style="--background:#249178;" [routerLink]="['/signup']">
      <ion-icon name="chevron-back-outline" color="#fff"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <center>
    <ion-button [routerLink]="['/home']" fill="outline">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </center>
  </ion-toolbar>
</ion-footer> -->