<ion-header translucent>
  <ion-toolbar style="--background: #fafafa;">
    <img src="assets/shopping-online.jpg" width="60px" height="60px" style="margin: 10px;border-radius: 50%;margin:5px;" slot="start">
    <ion-title  id="header" >My Fridge</ion-title>
    <ion-list slot="end" style="border-radius: 50% !important;background-color:#fafafa !important;margin: 0px !important;">
    <ion-icon name="person-circle-outline" class="footericon"></ion-icon>
          <p class="footertext">{{this.name}}</p>
        </ion-list>               
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #login = "ngForm" (ngSubmit) = "onClickSubmit(login.value)">
  <ion-grid id="AddProduct">
    <ion-row>
      
        <ion-col size="12" size-lg="4" size-md="4" offset-lg="4" offset-md="4">
          <h3 class="center">Enter An Item Details</h3>
          <ion-item lines="full" class="textdata">
            <ion-label>Image :</ion-label>
            <ion-input  type="file" ></ion-input>
          </ion-item>

          <ion-item lines="full" class="textdata">
            <ion-label>Name :</ion-label>
            <ion-input name="name" type="text" placeholder="Product Name" id="name" ngModel></ion-input>
          </ion-item>

          <ion-item lines="full" class="textdata">
            <ion-label>Amount :</ion-label>
            <ion-input name="amount" type="text" placeholder="Price" id="amount" ngModel></ion-input>
          </ion-item>

          <ion-item lines="full" class="textdata">
            <ion-label>Catagory :</ion-label>
            <ion-select placeholder="Select One" id="catagory" name="catagory" ngModel>
              <ion-select-option value="fruits">Fruits</ion-select-option>
              <ion-select-option value="vegetables">Vegetables</ion-select-option>
              <ion-select-option value="non-veg">Non Veg</ion-select-option>
              <ion-select-option value="drink">Drink</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button style="--background:#249178;"  class="btn" type="submit" >Insert</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
    </ion-row>
  </ion-grid>
</form>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="4" size-md="4" offset-lg="4" offset-md="4">
        <h3 class="center">Item Details</h3>
        <ion-card>
          <h1 class="item_name"></h1>
        </ion-card>

        <ion-card>
          <ion-item lines="full" class="textdata">
            <ion-label>Name : {{ this.productName }}</ion-label>
            <ion-label>Carrot</ion-label>
          </ion-item>


          <ion-item lines="full" class="textdata">
            <ion-label>Amount :</ion-label>
            <ion-label>$10</ion-label>

          </ion-item>

          <ion-item lines="full" class="textdata">
            <ion-label>Catagory :</ion-label>
            <ion-label>Veg</ion-label>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item lines="full" class="textdata">
            <ion-label>Name :</ion-label>
            <ion-label>white Bread</ion-label>
          </ion-item>

          <ion-item lines="full" class="textdata">
            <ion-label>Amount :</ion-label>
            <ion-label>$10</ion-label>

          </ion-item>

          <ion-item lines="full" class="textdata">
            <ion-label>Catagory :</ion-label>
            <ion-label>Veg</ion-label>
          </ion-item>
        </ion-card>

        

      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>

<!-- footer  -->
<ion-footer class="footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" offset="0" (click)="home()"  class="footerclick">
            <ion-icon name="home-outline" class="footericon" ></ion-icon>  
            <p class="footertext">Home</p>
        </ion-col>

        <ion-col size="2" offset="0" (click)="inventory()" class="footerclick">
          <ion-icon name="folder-outline" class="footericon"></ion-icon>
          <p class="footertext">Inventory</p>
        </ion-col>
        
        <ion-col size="2" offset="0" (click)="scan()" class="footerclick">
          <ion-icon name="scan-outline" class="footericon"></ion-icon>
          <p class="footertext">Scanning</p>
        </ion-col>

        <ion-col size="2" offset="0" (click)="shopping()" class="footerclick">
          <ion-icon name="cart-outline" class="footericon"></ion-icon>
          <p class="footertext">Shopping</p>
        </ion-col>

        <ion-col size="2" offset="0" (click)="recipe()" class="footerclick">
          <ion-icon name="fast-food-outline" class="footericon"></ion-icon>
          <p class="footertext">Recipe</p>                
        </ion-col>
        <ion-col size="2" offset="0" (click)="profile()" class="footerclick">
          <ion-icon name="person-circle-outline" class="footericon"></ion-icon>
          <p class="footertext">{{this.name}}</p>                
        </ion-col>

          
      </ion-row>
    </ion-grid>
    
  </ion-toolbar>
</ion-footer>