.title{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color: black;
  }
  #header{
    align-content: center;
    text-transform: uppercase;
    text-decoration: solid;
   
    font-weight:bold;
    font-style: normal;   
    color: #2ec0ce;
  }
  .discription{
    font-weight: bolder;
    margin-top: 10px;
    text-align: center;
    font-size: 22px;
  }
  .price{
    font-weight: bolder;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
  }
  
  .footericon{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    font-size: 15px;
    color:#249178;
  
  }
  .footertext{
    text-align: center;
    font-size: 12px;
  }
  .footericon2{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    font-size: 30px;
    color:#121212;
  
  }
  .footertext2{
    text-align: end;
    font-size: 15px;
  }