<ion-header translucent>
  <ion-toolbar style="--background: #fafafa;">
    <img src="assets/shopping-online.jpg" width="60px" height="60px" style="margin: 10px;border-radius: 50%;margin:5px;" slot="start">
    <ion-title  id="header" >Shopping Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >

  <ion-card class="main">
    <ion-card-content >
      
        <h1 id="header" style="color: #249178;margin-top: 5px;margin-bottom: 10px;text-align: center;" >Sign Up</h1>
        <!-- <h4 id="header" style="color: #4C0782;">Not Have An Acount ? Click Here</h4> -->
        <span style="color: #249178;margin-top: 5px;padding: 0px;text-align: center;">{{this.alert}}</span>
      
        <form #login = "ngForm" (ngSubmit) = "onClickSubmit(login.value)">
            <ion-row  class="ion-align-items-center">
              <ion-col class="ion-align-self-center">
                <div padding  class="input">
                  <ion-item  lines="full" class="textdata">
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <ion-input
                      name="name"
                      type="text"
                      placeholder="  your Name" 
                      ngModel   
                    ></ion-input>
                  </ion-item>
                  <span>{{this.name}}</span>
                  <ion-item  lines="full" class="textdata">
                    <ion-icon name="mail"></ion-icon>
                    <ion-input
                      name="email"
                      type="email"
                      id="email"
                      placeholder="  your@email.com" 
                      ngModel   
                    ></ion-input> 
                  </ion-item>
                  <span>{{this.email}}</span>

                  <ion-item lines="full" class="textdata">
                    <ion-icon name="key"></ion-icon>
                    <ion-input
                      name="password"
                      type="password"
                      
                      placeholder="  password"
                      ngModel    
                    ></ion-input>
                  </ion-item>
                  <span>{{this.password}}</span>
                  <ion-item lines="full" class="textdata">
                    <ion-icon name="key"></ion-icon>
                    <ion-input
                      name="cpassword"
                      type="password"
                      placeholder="  Confirm password"
                      ngModel    
                    ></ion-input>
                  </ion-item>
                  <span>{{this.cpassword}}</span>
                </div> 
                
                  <div>
                    <ion-button style="--background:#249178;" expand="block" class="btn" type="submit" >SignUp</ion-button>
                  </div>
                 
                 
              </ion-col>
            </ion-row>
         
        </form>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end"  slot="" style="--background:#fff;" >
    <ion-fab-button  style="--background:#249178;" [routerLink]="['/login']">
      <ion-icon name="chevron-back-outline" color="#fff"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>