// *{
//     margin: 0px;
//     padding: 0px;
// }
:root {
    --ion-color-secondary: #56d5fb;  
  }
.input{
    margin-top: 50px;
}
.textdata{
    margin-bottom: 20px;
};
.btn{
 
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    font-weight: bolder;
    margin-left: 10%;
    
};
#header{
    align-content: center;
    text-transform: uppercase;
    text-decoration: solid;
    // color:#FF0000;
    font-weight:bold;
    font-style: normal;   
    color: #121212;
}
.main{
    margin-top: 50px !important;
    background:rgb(255, 255, 255);                              
    height: auto;
    width: 40%;
    // margin-left: 10%;
    margin: auto;
    box-shadow:10px 10px  15px #888888;
    // border: 0.2 px solid black;
    border-radius: 0px 0px 50px 50px;
}
@media(max-width:680px){
    .main{
        margin-top: 50px;
        background:rgb(255, 255, 255);                              
        height: auto;
        width: 80%;
        margin-left: 10%;
        box-shadow:10px 10px  15px #888888;
         border: 0px solid #888888;
        border-radius: 0px 0px 50px 50px;
    }
}
ion-icon{
    color:#249178;
}
ion-input :placeholder{
    color: #000;
}
.container{
    background-color: #2F2F2F !important;
}
ion-content{ --ion-background: #111D12 !important}
ion-header{
    background-color: #2F2F2F !important;
}

.maindata{
    // background-image: url(/assets/BeachCafe.png);
    --background: #F3F9D2;
}
span{
    margin: 0px;
    padding: 0px;
    text-align: center;
    color:#249178;
    text-transform:capitalize;
}