<ion-header translucent>
  <ion-toolbar style="--background: #fafafa;">
    <img src="assets/shopping-online.jpg" width="60px" height="60px" style="margin: 10px;border-radius: 50%;margin:5px;" slot="start">
    <ion-title  id="header" >My Fridge</ion-title>
    <ion-list slot="end" style="border-radius: 50% !important;background-color:#fafafa !important;margin: 0px !important;">
    <ion-icon name="person-circle-outline" class="footericon"></ion-icon>
          <p class="footertext">{{this.name}}</p>
        </ion-list>               
  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-card>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-label>{{this.name}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Name</ion-label>
        <ion-label>{{this.email}}</ion-label>
      </ion-item>

      <ion-button style="--background:#249178" expand="block" class="btn" type="submit" (click)="signup()">Log Out</ion-button>

    </ion-card>

</ion-content>
