<ion-header translucent>
  <ion-toolbar style="--background: #fafafa;">
    <img src="assets/shopping-online.jpg" width="60px" height="60px" style="margin: 10px;border-radius: 50%;margin:5px;" slot="start">
    <ion-title  id="header" >New</ion-title>
    <ion-list slot="end" style="border-radius: 50% !important;background-color:#fafafa !important;margin: 0px !important;">
    <ion-icon name="person-circle-outline" class="footericon"></ion-icon>
          <p class="footertext" (click)=profile()>{{this.name}}</p>
        </ion-list>               
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" size-md="4" size="10" offset="1" *ngFor="let row of product" >
        <ion-card>
          <ion-card-content>
            <ion-list>
        
              <img src="{{row.PriductImg}}" width="100%" height="200px"
                class="">
            
              
                <h3 class="title"> {{row.ProductName}}</h3>
                <p class="discription">{{row.ProductDescription}}</p>
                <p class="price">${{row.Price}}</p>
              
             

              <ion-button style="--background:#249178" expand="block" class="btn" type="submit"
                (click)="booking()">Book Now</ion-button>
        
        </ion-list>
          </ion-card-content>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- footer  -->
<ion-footer class="footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" offset="0" (click)="home()"  class="footerclick">
            <ion-icon name="home-outline" class="footericon" ></ion-icon>  
            <p class="footertext">Home</p>
        </ion-col>

        <ion-col size="2" offset="0" (click)="inventory()" class="footerclick">
          <ion-icon name="folder-outline" class="footericon"></ion-icon>
          <p class="footertext">Inventory</p>
        </ion-col>
        
        <ion-col size="2" offset="0" (click)="scan()" class="footerclick">
          <ion-icon name="scan-outline" class="footericon"></ion-icon>
          <p class="footertext">Scanning</p>
        </ion-col>

        <ion-col size="2" offset="0" (click)="shopping()" class="footerclick">
          <ion-icon name="cart-outline" class="footericon"></ion-icon>
          <p class="footertext">Shopping</p>
        </ion-col>

        <ion-col size="2" offset="0" (click)="recipe()" class="footerclick">
          <ion-icon name="fast-food-outline" class="footericon"></ion-icon>
          <p class="footertext">Recipe</p>                
        </ion-col>
        <ion-col size="2" offset="0" (click)="profile()" class="footerclick">
          <ion-icon name="person-circle-outline" class="footericon"></ion-icon>
          <p class="footertext">{{this.name}}</p>                
        </ion-col>

          
      </ion-row>
    </ion-grid>
    
  </ion-toolbar>
</ion-footer>

